.player-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.player-image {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 8px;
}

.player-card h2 {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.player-card p {
  margin: 4px 0;
}

.player-card a {
  text-decoration: none;
  color: white; /* Ensure text color is white */
}

.player-card a:hover {
  text-decoration: underline;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button {
  display: inline-block;
  background-color: #0056b3;
  padding: 4px 8px; /* Make the buttons smaller */
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875em; /* Reduce the text size */
}

.button:hover {
  background-color: #0056b3;
}

.button.delete {
  background-color: #dc3545; /* Red color for delete button */
}

.button.delete:hover {
  background-color: #c82333; /* Darker red on hover */
}

.add-player-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-player-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-player-form .button {
  align-self: flex-start;
}

.add-player-form h2 {
  text-align: left;
}

.search-bar {
  width: 100%; /* Make the search bar longer */
  max-width: 400px; /* Set a maximum width */
  padding: 8px;
  margin-bottom: 24px; /* Add more space between the search bar and the player cards */
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}